<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Take
        </div>
        <div class="card-body">
          <ul class="list-group" id="container1">
  
          </ul>
        </div>
      </div>
      
       
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          takeLast
        </div>
        <div class="card-body">
          <ul class="list-group" id="container2">
  
          </ul>
        </div>
      </div>
  
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          takeUntil (Click anywhere in document to stop)

        </div>
        <div class="card-body">
          <ul class="list-group" id="container3">
  
          </ul>
        </div>
      </div>
     
    </div>
    
  </div>
  </div>